* {
    padding: 0;
    margin: 0;
  }
  
  html {
    font-size: 62.5%;
  }
  .sisi {
    background-image: url(../img/nordelta.jpg);
  }
  
.borde{
  background-color: cornflowerblue;
  border: 20px solid cornflowerblue;
}
.logo{
  margin-top: 20px;
  height: 20px;
  }
  
.sisi{
  background-image: url(../img/nordelta.jpg);
}

